
  #navitem{
    margin: 5px;
  }

  .imageicon {
    height: 25px;
  }

  .submitbutton {
    background-color: rgb(44, 77, 126);
    color: #fff;
    -moz-border-radius: 5px;
    border-radius:2px;
    cursor: pointer;
    border: none;
  }

  .nav {
    display:flex;
    justify-content: space-between;
    background-color: rgb(232, 232, 240);
  }

  .nav > div {
    justify-content: space-between;
    flex-direction: row;
  }



