
  .searchbar{
    width: 300px;
  }

  #navitem{
    margin: 5px;
  }

  .imageicon {
    height: 25px;
    border-radius: 10%;
  }

  .submitbutton {
    background-color: rgb(44, 77, 126);
    color: #fff;
    border-radius:2px;
    cursor: pointer;
    border: none;
    height: 22px;
  }

  .submitbutton:hover {
      color:dodgerblue;
      background-color: rgb(2, 2, 73);
  }

  .nav {
    display:flex;
    justify-content: space-between;
    background-color: rgb(232, 232, 240);
  }

  .nav div {
    justify-content: space-between;
    flex-direction: row;
  }



